html{
  min-height:150%;
}
body{
   height:200%;
   background-image: url("http://res.cloudinary.com/dnyy6kcjj/image/upload/v1500258759/FallColorsForestRays_dibnxo.jpg");
   background-size: cover;
  background-color: #FFF;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 5px black;
}
#icon{
 font-size: 6em;
}

.switchtemp{
  background-color: Transparent;
  outline-color:#000;
  border-radius: 8px;
  padding: 10px;
}

